<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
  <div class="layout">

    <a class="header" href="#0">
      <i class="fa fa-bars"></i> .<h1>Student Management System</h1>
      <div class="header-user"><i class="fas fa-user-circle icon"></i>Hello {{email}}</div>
    </a>

    <div class="sidebar">
      <ul>
        <li> <a class="sidebar-list-item" href="/dashboard"> <i class="fas fa-home icon"></i><em>Dashboard</em></a></li>
        <li> <a class="sidebar-list-item" href="/newadmission"> <i class="fas fa-tasks icon"></i><em>New Admission</em></a></li>
        <li> <a class="sidebar-list-item " href="/csd"> <i class="fas fa-user icon"></i><em>Check Student Details</em></a></li>
        <li> <a class="sidebar-list-item active" href="/account"> <i class="fas fa-user icon"></i><em>Account</em></a></li>
        <li> <a class="sidebar-list-item " href="/pfee"> <i class="fas fa-user icon"></i><em>Pay Fees</em></a></li>
        <li> <a class="sidebar-list-item" href="/events"> <i class="fas fa-calendar icon"></i><em>Events</em></a>
        </li>
        <li> <a class="sidebar-list-item" href="/cresult"> <i class="fas fa-toolbox icon"></i><em>Check Result</em></a>
        </li>
        <li> <a class="sidebar-list-item" href="users"> <i class="fas fa-comments icon"></i><em>User</em></a></li>
        <li> <a class="sidebar-list-item" href="logouts"> <i class="fas fa-lightbulb icon"></i><em>LOg Out</em></a>
        </li>
      </ul>
    </div>

    <main class="content">
      <div class="main-header">
        <div class="main-title">
          <h1>Account Details</h1>
        </div>
        <div class="main-form">
         <form method="post" action="/account">
          <input type="text" name="cname" id="" placeholder="Enter Class Name">
          <input type="submit" value="Search">
         </form>
        </div>
        <table >
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Father's Name</th>
              <th>Class</th>
              <th>Total Fees</th>
              <th>Pending Fees</th>
            </tr>
          </thead>
          <tbody>

            {{#each data}}
            <tr>
              <td >{{this.sname}}</td>
              <td>{{this.fname}}</td>
              <td>{{this.cname}}</td>
              <td>{{this.fee}}</td>
              <td>{{this.pfee}}</td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </main>

    <footer class="footer">
      <div class="footer_sign">developer : <span class="fas fa-heart"></span> <a href="https://madhavns.com.np/" target="blank">Madhav Nandan Singh</a></div>
    </footer>

  </div>
</body>
</html>